.modal__save{
    margin-top: 95px;
    left: 50%;
    margin-bottom: 36px;
    outline: none;
    color: white;
    border: 1px solid transparent;
    width: 358px;
    height: 50px;
    line-height: 22px;
    background: #000000;
    border-radius: 2px;
    cursor: pointer;
}
.modal__save:hover {
    opacity: 0.8;
}
.modal__save:loader {
    color: red;

}
@media screen and (max-width:1279px){
    .modal__save{
        top: 46px;
        left: 50%;
        width: 238px;
        height: 46px;
        bottom: 25px;
    }
    
}