.page {
    background: #000000;
    background-size: 100vw;
}
.page__overlay {
    z-index: 1;
    background: rgba(0, 0, 0, .5);
    background-size: 100vw;  
}
.page__wrapper {
   max-width: 1280px;  
   min-width: 320px;
   font-family: 'Inter', Arial, sans-serif;
   margin: 0 auto; 
}
.header {
    max-width: 100%;
    margin-top: 45px;
    margin-left: 200px;
    margin-right: 200px;
    border-bottom: 1px solid rgba(84, 84, 84, .5);
}
@media screen and (max-width:1279px) {
    .header{
        margin: 28px 0 0 0;
    }
}
.logo {
    width: 173px;
    height: 33px;
    margin-bottom: 41px;
}
@media screen and (max-width:1279px) {
    .logo{
        width: 126px;
        height: 24px;
        margin: 0 0 32px 27px;
    }
}
.modal{
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 430px;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media screen and (max-width:1279px){
    .modal{
        width: 282px;
        height: 322px;
    }
    
}
.modal_disabled {
    display: none;
}
.modal__close {
    position: absolute;
    right: -50px;
    top: -30px;
    outline: none;
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}
.modal__close:hover {
    opacity: 0.6;
}
.modal__title {
    position: absolute;
    top: 34px;
    left: 36px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}
.modal__name {
    all: unset;
    position: absolute;
    top: 136px;
    left: 36px;
    right: 36px;
    width: 358px;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width:1279px){
    .modal__name{
        width: 238px;
        height: 46px;
        top: 149px;
        left: 22px;
        right: 22px;
    }
}
.modal__about-me {
    all: unset;
    position: absolute;
    width: 358px;
    top: 195px;
    left: 36px;
    right: 36px;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width:1279px){
    .modal__about-me{
        width: 238px;
        height: 46px;
        top: 205px;
        left: 22px;
        right: 22px;
    }
}
.modal__save{
    position: absolute;
    outline: none;
    color: white;
    border: 1px solid transparent;
    width: 358px;
    height: 50px;
    line-height: 22px;
    background: #000000;
    border-radius: 2px;
    bottom: 36px;
    left: 36px;
    right: 36px;
    cursor: pointer;
}
@media screen and (max-width:1279px){
    .modal__save{
        width: 238px;
        height: 46px;
        left: 22px;
        right: 22px;
        bottom: 25px;
    }
    
}
.profile {
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
}
@media screen and (max-width:1279px) {
    .profile{
        margin: 42px 19px 0 19px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}
.profile__image {
    border-radius: 50%;
    object-fit: cover;
    width: 120px;
    height: 120px;
}
.profile__info {
    max-height: 100%;
    margin-top: 22px;
    margin-bottom: 21px;
    margin-left: 47.5px;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:1279px) {
    .profile__info{
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.profile__name-container{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}
@media screen and (max-width:1279px) {
    .profile__name-container{
        margin: 26px 19px 0 19px;
    }
}
.profile__name {
    padding: 0;
    margin: 0;
    color: white;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}
@media screen and (max-width:1279px) {
    .profile__name{
       font-size: 22px;
       line-height: 27px;
    }
}
.profile__about-me {
    padding: 0;
    margin: 16px 0 0 0;
    color: white;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
}
@media screen and (max-width:1279px) {
    .profile__about-me{
        font-size: 14px;
        line-height: 17px;
        margin: 14px 0 0 0;
    }
}
.profile__edit-button {
    width: 24px;
    height: 24px;
    margin-top: 22px;
    margin-left: 18px;
    background: none;
	padding: 0;
    color: white;
	cursor: pointer;
	outline: inherit;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}
@media screen and (max-width:1279px) {
    .profile__edit-button{
        margin: 0 0 0 10px;
    }
}
.profile__edit-button:hover {
    opacity: 0.6;
}
.profile__add-button {
    position: absolute;
    right: 0;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    width: 150px;
    margin-top: 35px;
    margin-bottom: 35px;
    height: 50px;
    background: none;
	padding: 0;
    color: white;
	cursor: pointer;
	outline: inherit;
}
@media screen and (max-width:1279px) {
    .profile__add-button {
        position: relative;
        margin: 36px 0 0 0;
        width: 282px;
    }
}
.profile__add-button:hover {
    opacity: 0.6;
}
.elements {
    max-width: 100%;
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 21px 17px;
}
@media screen and (max-width:1279px) {
    .elements{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 36px 19px 0 19px;
    }
}
.element {
    width: 282px;
    height: 361px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.element__image {
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.element__title-container {
    margin: 25px 15px 31px 21px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}
.element__title{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.element__like-button{
    margin-top: 5px;
    background: none;
	padding: 0;
    color: white;
	cursor: pointer;
	outline: inherit;
    border: none;
}
.element__like-button:hover {
    opacity: 0.5;
}
.element__like-button:active .element__like-image {
    background-image: url('../images/likebuttonactive.svg');
}
.footer {
    width: 100%;
    margin: 68px 200px 60px 200px;
}
@media screen and (max-width:1279px) {
    .footer{
        margin: 50px 19px 36px 19px;
    }
}
.footer__note{
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 22px;
   color: #545454;
}