.modal__error {
    position: absolute;
    color: red;
    font-size: 14px;
    line-height: 17px;
    bottom: 0;
    left: 30%;
}
@media screen and (max-width:1279px){
    .modal__error {
        left: 20%;
        bottom: -10px;
    }
    
}