.modal__name {
    all: unset;
    margin-top: 138px;
    left: 50%;
    width: 358px;
    font-size: 14px;
    line-height: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width:1279px){
    .modal__name{
        margin-top: 149px;
        margin-left: 22px;
        width: 238px;
        height: 46px;
        bottom: 173px;
        left: 22px;
    }
}