.modal_type_image-card {
    max-width: 816px;
    height: 540px;
    transform: translate(-50%, 0);
    left: 50%;
    margin-top: 90px;
}
@media screen and (max-width:1279px){
    .modal_type_image-card {
        min-width: 240px;
        min-height: 299px;
    }
}