.modal__profile{
    all: unset;
    margin-top: 138px;
    left: 50%;
    width: 358px;
    font-size: 14px;
    line-height: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width:1279px){
    .modal__profile{
        margin-top: 10;
        width: 238px;   
        left: 50%;
    }  
}