.modal__save{
    position: absolute;
    outline: none;
    color: white;
    border: 1px solid transparent;
    width: 358px;
    height: 50px;
    line-height: 22px;
    background: #000000;
    border-radius: 2px;
    bottom: 36px;
    left: 36px;
    right: 36px;
    cursor: pointer;
}
.modal__save:hover {
    opacity: 0.8;
}
@media screen and (max-width:1279px){
    .modal__save{
        width: 238px;
        height: 46px;
        left: 22px;
        right: 22px;
        bottom: 25px;
    }
    
}