.image-popup__close {
    height: 40px;
    width: 40px;
    position: absolute;
    right: -35px;
    top: -35px;
    outline: none;
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.5s; 
}
@media screen and (max-width:1279px){
    .image-popup__close{
        height: 26px;
        width: 26px;
        top: -40px;
        right: -25px;
    }
}
.image-popup__close:hover {
    opacity: 0.6;
}