.modal__error{
    left: 50%;
    margin-top: 5px;
    display: none;
    visibility: none;
    color: red;
    font-size: 12px;
    font-weight: 400;
}
@media screen and (max-width:1279px){
    .modal__error{
        left: 50%;
    }
}