.element__like-button{
    margin-top: 5px;
    background: none;
	padding: 0;
    color: white;
	cursor: pointer;
	outline: inherit;
    border: none;
    background: url(../like-button.svg) center no-repeat;
    background-size: 100%;
    min-width: 21px;
    height: 19px;
}
.element__like-button:hover {
    opacity: 0.5;
}
